@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e0e0e;
    color: blanchedalmond;
    font-family: sans-serif, 'Popins';
}

.navbar{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 10px 20px 0 20 px;
    color: blanchedalmond;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}
.navbar h1{
    font-size: 14px;
    font-weight: bold;
}
.navbar img {
    height: 40px;
    margin-right: 18px;
}

.navbar ul{
    display: flex;
    justify-content:center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    gap:16px ;
    
}

li a{
    text-decoration: none;
    list-style: none;
    color: #ababab;
}

.footer {
    background-color: #1c1c1c;
    color: #ababab;
    padding: 3rem;
    text-align: center;
  }
  
  .footer h2 {
    margin-bottom: 16px;
  }
  
  .footer a {
    color: rgb(236, 166, 141);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  .container{
      display: flex;
      flex-wrap: wrap;
  }

  .movie{
      width: 400px;;
      margin-right: 1.5rem;
      display: flex;
      flex-direction: column;
  }
  .movie-title{
      font-size: 15px;
      width: 60%;
      font-weight: 400;
  }
    
   button{
       margin-left: 1.5rem;
       width: 5rem;
       background: none;
       border: none;
       color: #ababab; 
   }

 .item{
     border-radius: 10px;
     box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
     padding-bottom: 10px;
     margin-bottom: 2rem;
 }

 .item .item-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
  }

  .item .item-content .texts-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
  }
  

  .img-container {
    width: 100%;
    height: 35vh;
  }

  .img-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    cursor: pointer;
    transition: 1s;
  }

  .img-container img:hover {
    transform: scale(0.9);
  }
  .btn-likes {
    display: flex;
    justify-content: center;
    align-items: center;
 
  }

  .btn-likes img,
span {
  font-size: 12px;
}

  .btn-likes img{
    margin-right: 5px;
    color: #ababab;
    font-size: 15px;
    cursor: pointer;
    width: 15px;
    height: 15px;
  }